<div class="container text-light">
  <div>
    <h4><strong>Address:</strong></h4>
    <p>
      3585 S Vermont Ave, #7367, Los Angeles, CA, 90007<br><em>Baltimore office</em>: 6214A Frankford Ave. Baltimore, MD 21206, USA<br><meta charset="utf-8">
    </p>
    <p style="text-align: left;"><strong>Email</strong>: crmteckwrap.com, salesteckwrap.com</p>
    <p style="text-align: left;"><strong>Phone numbers</strong>:</p>
    <p style="text-align: left;">+1 323-800-8520 (Local) Los Angeles / Call&amp;Text</p>
    <p style="text-align: left;"><meta charset="utf-8">+1&nbsp;443-992-7272 (Local) Baltimore /&nbsp;<meta charset="utf-8"><span data-mce-fragment="1">Call&amp;Text</span></p>
    <p style="text-align: left;">+1 855-518-0155 (Toll Free) / Call only</p>

    <h4>Social Handles</h4>
    <p style="text-align: left;"><strong>Facebook</strong>:&nbsp;www.facebook.com/TeckWrapUSA</p>
    <p style="text-align: left;"><strong>Instagram</strong>:&nbsp;www.instagram.com/teckwrap</p>
    <p style="text-align: left;"><strong>TikTok</strong>: www.tiktok.com/teckwrap</p>
    </div>
    <hr>
    <h2>Contact Us</h2>

    <p>
      Please use the contact information below to reach us
    </p>
    <p>
      Eclipse PPF.
    </p>
    <div class="row mb-3">
        <div class="col-md-6">
        <h4>Address</h4>
        <p>1234 Dark Street</p>
        <p>Cityville, State</p>
        <p>Country, 12345</p>
        </div>
        <div class="col-md-6">
        <h4>Phone Number</h4>
        <p>+1 (123) 456-7890</p>
        <p>+1 (234) 567-8901</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
        <h4>Social Handles</h4>
        <ul class="list-unstyled">
            <li><a href="https://twitter.com/example" class="text-light">Twitter</a></li>
            <li><a href="https://facebook.com/example" class="text-light">Facebook</a></li>
            <li><a href="https://instagram.com/example" class="text-light">Instagram</a></li>
        </ul>
        </div>
        <div class="col-md-6">
        <!-- Add any additional information or links here -->
        </div>
    </div>
</div>

<app-footer></app-footer>