
<section class="contact-section py-5">
  <div class="container-fluid">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
            <div class="h-100 position-relative">
                <img src="../../../assets/img/car.jpg" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                    <img src="../../../assets/img/car.jpg" class="img-fluid w-100 rounded" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
          <h2 class="mb-4 text-primary">Contact Us</h2> 
            <h1 class="mb-4">About HighTech Agency And It's Innovative IT Solutions</h1>
            <div>
              <p style="text-align: left;"><strong>Address:</strong></p>
              <p>
                3585 S Vermont Ave, #7367, Los Angeles, CA, 90007<br><em>Baltimore office</em>: 6214A Frankford Ave. Baltimore, MD 21206, USA<br><meta charset="utf-8">
              </p>
              <p style="text-align: left;"><strong>Email</strong>: crmteckwrap.com, salesteckwrap.com</p>
              <p style="text-align: left;"><strong>Phone numbers</strong>:</p>
              <p style="text-align: left;">+1 323-800-8520 (Local) Los Angeles / Call&amp;Text</p>
              <p style="text-align: left;"><meta charset="utf-8">+1&nbsp;443-992-7272 (Local) Baltimore /&nbsp;<meta charset="utf-8"><span data-mce-fragment="1">Call&amp;Text</span></p>
              <p style="text-align: left;">+1 855-518-0155 (Toll Free) / Call only</p>
          
              <h4>Social Handles</h4>
              <p style="text-align: left;"><strong>Facebook</strong>:&nbsp;www.facebook.com/TeckWrapUSA</p>
              <p style="text-align: left;"><strong>Instagram</strong>:&nbsp;www.instagram.com/teckwrap</p>
              <p style="text-align: left;"><strong>TikTok</strong>: www.tiktok.com/teckwrap</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<app-footer></app-footer>