<!-- <p>admin-dashboard works!</p> -->

<!-- List of todos
-------------
    1. Update dealer status active OR not.
    2. See list of all recent cars of all dealers. (day/week/month/custom)
        a. Date — Car Number — <Warranty Card Link> [TBD]	
    3. See list of all recent cars of a specific dealer. (day/week/month/custom)
        a. Date — Car Number — <Warranty Card Link> [TBD]
    4. Search for a car to check warranty by roll_no / car_no.
------------- 
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="btn btn-light border-success" type="register-dealer" (click) = "toggleRegisterDealerComponent()">Register Dealer</a>
    <a class="btn btn-light border-success mx-1" type="register-warranty" (click) = "toggleRegisterWarrantyComponent()">Register Warranty</a>
    <a class="btn btn-light border-primary mx-1" type="check-warranty" (click) = "toggleCheckWarrantyComponent()">Check Warranty</a>

    <a class="btn btn-light border-primary mx-1" type="check-warranty" (click) = "toggleUpdateDealerComponent()">Update Dealer Info</a>
    <a class="btn btn-light border-primary mx-1" type="check-warranty" (click) = "toggleGetDealerComponent()">Get Dealer Info</a>

    
    <a class="btn btn-light border-primary mx-1" type="check-warranty" (click) = "toggleSearchDealerCarComponent()">Search Dealer's cars</a>
    <a class="btn btn-light border-primary mx-1" type="check-warranty" (click) = "toggleSearchAllCarComponent()">Search all cars</a>

    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search specific car
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/1-day">By PPF Role No.</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/1-week">By Car No.</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/custom">Custom</a> 
            </li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search dealer's car
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/1-day">1 Day</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/1-week">1 Week</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/custom">1 Month</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/custom">Custom</a> 
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search all dealers car
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/1-day">1 Day</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/1-week">1 Week</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/custom">1 Month</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/recent-cars/custom">Custom</a> 
            </li>
          </ul>
        </li>
        <li class="nav-item">
      </ul>
    </div> -->
  </div>
</nav>

<div class="container">

  <div *ngIf="this.showRegisterDealerComponent">
    <app-register-dealer ></app-register-dealer>
  </div>
  <div *ngIf="this.showRegisterWarrantyComponent">
    <app-register-warranty ></app-register-warranty>
  </div>
  <div *ngIf="this.showCheckWarrantyComponent">
    <app-check-warranty ></app-check-warranty>
  </div>
  <div *ngIf="this.showUpdateDealerComponent">
    <app-update-dealer></app-update-dealer>
  </div>
  <div *ngIf="this.showGetDealerComponent">
    <app-get-dealer></app-get-dealer>
  </div>
  <div *ngIf="this.showSearchDealerCarComponent">
    <app-search-dealer-cars></app-search-dealer-cars>
  </div>
  <div *ngIf="this.showSearchAllCarComponent">
    <app-update-dealer></app-update-dealer>
  </div>

  <h1 class="my-2">Recent registered cars</h1>
  <table class="table">
    <thead>      
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Registration Time</th>
        <th scope="col">Roll No</th>
        <th scope="col">Car No</th>
        <th scope="col">Valid Upto</th>
        <th scope="col">Warranty Card</th>
        <th scope="col">Car Photos</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>twitter</td>
      </tr>
    </tbody>
  </table>
</div>
