<section class="about-us-section py-5">
  <div class="container-fluid">
    <div class="container py-5">
      <div class="row g-5">
          <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
              <div class="h-100 position-relative">
                  <img src="../../../assets/img/car.jpg" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                  <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                      <img src="../../../assets/img/car.jpg" class="img-fluid w-100 rounded" alt="">
                  </div>
              </div>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
            <!-- <h1 class="text-primary mb-4">About Us</h1> -->
            <h2 class="mb-4 text-primary">About Us</h2> 
              <h1 class="mb-4">About HighTech Agency And It's Innovative IT Solutions</h1>
              <p class="text text-white">
                Welcome to Eclipse, the ultimate destination for premium automotive Paint Protection Film (PPF). At Eclipse, we specialize in providing cutting-edge solutions that protect your vehicle's paintwork from scratches, chips, and environmental hazards.
              </p>
              <p>
                With a passion for perfection and a dedication to innovation, Eclipse stands at the forefront of the PPF industry. Our mission is to offer drivers peace of mind by preserving the beauty and value of their cars through advanced protective technology.
              </p>
              <p>
                At Eclipse, quality is our cornerstone. We partner with leading manufacturers to ensure our PPF films not only meet but exceed industry standards for durability and clarity. Whether you're a daily commuter or an avid adventurer, our films are engineered to withstand the toughest conditions without compromising on aesthetics.
              </p>
              <p>
                Beyond superior products, Eclipse prides itself on exceptional service. Our team of knowledgeable professionals is committed to guiding you through every step of the process, from product selection to installation, ensuring a seamless experience and maximum satisfaction.
              </p>
              <p>
                Join the growing community of car enthusiasts who trust Eclipse to safeguard their vehicles. Discover why discerning drivers choose Eclipse for unparalleled protection and lasting peace of mind.
                Protect your car with Eclipse and drive with confidence.
              </p>
          </div>
      </div>
    </div>
  </div>
</section>
  



  <app-footer></app-footer>