<footer>
    
    <div class="container mb-5 footer">
        <hr class="mt-5" >
        <footer class="my-4 text-body-secondary text-center">
            <p class = "text-light">
                Copyright © EclipsePPF 2024. All rights reserved.
            </p>
        </footer>
    </div>
    <div class="py-3">
    </div>
</footer>

<!-- <footer class="footer-fixed text-center">
   
<p>&copy; 2024 Your Company. All rights reserved.</p> 
</footer> -->

<!-- <div class="container">
    <footer class="pt-3 my-3 mt-5 text-body-secondary border-top text-center">
        Made with love by @Divyansh
    </footer>
</div> -->
