<!-- warranty-card-modal.component.html
<div class="modal fade" id="warrantyCardModal" tabindex="-1" aria-labelledby="warrantyCardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="warrantyCardModalLabel">Warranty Card</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="carNumber" class="form-label">Car Number</label>
              <input type="text" class="form-control" id="carNumber" [(ngModel)]="carDetails.carNumber" name="carNumber">
            </div>
            <div class="mb-3">
              <label for="rollNumber" class="form-label">Roll Number</label>
              <input type="text" class="form-control" id="rollNumber" [(ngModel)]="carDetails.rollNumber" name="rollNumber">
            </div>
            <div class="mb-3">
              <label for="shopName" class="form-label">Shop Name</label>
              <input type="text" class="form-control" id="shopName" [(ngModel)]="carDetails.shopName" name="shopName">
            </div>
            <div class="mb-3">
              <label for="warrantyPeriod" class="form-label">Warranty Period</label>
              <input type="text" class="form-control" id="warrantyPeriod" [(ngModel)]="carDetails.warrantyPeriod" name="warrantyPeriod">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="submitWarrantyCard()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
   -->