<div class="container">
  <div class="row mx-auto">
    <div class="col-lg-7 col-md-9  mx-auto">
      <div class="container" style="text-align: center;">
        <img class="img-fluid" width="100px" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png"
          alt="no-pic" height="170px" width="170px" srcset="">
        <h2>Register PPF Roll Warranty</h2>
      </div>
      
      <form (ngSubmit)="onSubmit()" #uploadForm="ngForm">
        <div class="form-floating mb-3">
          <input type="number" [(ngModel)]="ppfRollInfo.quantity" class="form-control" id="quantity" name="quantity" placeholder="">
          <label for="quantity">Quantity Consumed (sqft)</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="ppfRollInfo.roll_no" id="rollNo" name="rollNo" placeholder="">
          <label for="rollNo">PPF Roll No</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="ppfRollInfo.customer.name" id="customerName" name="customerName"  placeholder="">
          <label for="customerName">Customer Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="ppfRollInfo.customer.address" id="customerAddress" name="customerAddress" placeholder="">
          <label for="customerAddress">Customer Address</label>
        </div>

        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" [(ngModel)]="ppfRollInfo.customer.city" id="city" name="city" placeholder="">
              <label for="city">Customer City</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" [(ngModel)]="ppfRollInfo.customer.state" id="state" name="state" placeholder="">
              <label for="state">Customer State</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" [(ngModel)]="ppfRollInfo.customer.pincode" id="city" name="city" placeholder="">
              <label for="city">Customer Pincode</label>
            </div>
          </div>
        </div>
        
        <div class="form-floating mb-3">
          <input type="number" class="form-control" [(ngModel)]="ppfRollInfo.customer.mobile_no" id="customerMobile" name="customerMobile" pattern="[0-9]{10}" placeholder="">
          <label for="customerMobile">Customer Mobile No</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" [(ngModel)]="ppfRollInfo.customer.email" class="form-control" id="customerEmail" name="customerEmail"  placeholder="">
          <label for="customerEmail">Customer Email Id</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="ppfRollInfo.car_details.car_no" id="carNo" name="carNo"  placeholder="">
          <label for="carNo">Car No / Chassis No</label>
        </div>

        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" [(ngModel)]="ppfRollInfo.car_details.mfd_year" id="make" name="make" placeholder="">
              <label for="make">Make / Year</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" [(ngModel)]="ppfRollInfo.car_details.model_name" id="model" name="model" placeholder="">
              <label for="model">Model</label>
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="file" class="form-control" #fileUpload (change)="onFileSelected($event)" id="photos fileUpload" name="fileUpload" accept="image/*" multiple>
          <label for="photos">6 Photographs Upload</label>
        </div>

        <div class="row mb-3">
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      <div *ngIf="this.isEmpty" class="alert alert-danger rounded-pill p-2 mt-3 mx-5 text-center" role="alert" >
        Fields are missing!
      </div>

      <div *ngIf="this.isAlreadyPresent" class="alert alert-danger rounded-pill p-2 mt-3 mx-5 text-center" role="alert" >
        Warranty is already registered for this ppf roll number.
      </div>

      <div *ngIf="this.isInvalidRequest" class="alert alert-danger rounded-pill p-2 mt-3 mx-5 text-center" role="alert" >
        Unexceptional error occured. Please try again!
      </div>

      <!-- <div *ngIf="this.response" class="alert alert-success rounded-pill p-2 mt-3 mx-5 text-center" role="alert">
        Warranty registered successfully!
      </div> -->

    </div>
  </div>
</div>

<div *ngIf="this.warrantyInfoObj">
  <app-warranty-card [warrantyInfo]="this.warrantyInfoObj"></app-warranty-card>
</div>