.icon {
  width: 25px; /* Adjust the size as needed */
  height: 25px; /* Adjust the size as needed */
}

/* app.component.css */
.img-thumbnail {
  width: 500px;
  height: 500px;
  height: auto;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .table-container {
    display: none;
  }
  .card-container {
    display: block;
  }
}
@media (min-width: 768px) {
  .table-container {
    display: block;
  }
  .card-container {
    display: none;
  }
}