<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="container text-center">
        <img class="img-fluid" width="100px" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png"
          alt="no-pic" height="170px" width="170px" srcset="">
        <h2>Check PPF Roll Warranty</h2>
      </div>

      <form (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="roll_no" name="roll_no" class="form-control" id="roll_no" placeholder="PPF Roll Number">
          <label for="roll_no">PPF Roll No</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="car_no" name="car_no" class="form-control" id="car_no" placeholder="Car / Chasis number">
          <label for="car_no">Car No / Chasis No</label>
        </div>
        
        <div class="row mb-3">
          <div class="text-center">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>

      <div *ngIf="this.isEmpty" class="alert alert-danger rounded-pill p-2 mt-3 mx-5 text-center" role="alert" >
        Either RollNo or CarNo must be present to check warranty.
      </div>
      
      <div *ngIf="this.isNotPresent" class="alert alert-danger rounded-pill p-2 mt-3 mx-5 text-center" role="alert" >
        Warranty is not registered for the particular roll no / car no.
      </div>

      <div *ngIf="this.isInvalidRequest" class="alert alert-danger rounded-pill p-2 mt-3 mx-5 text-center" role="alert" >
        Unexceptional error occured. Please try again!
      </div>

      <!-- <div *ngIf="this.response" class="alert alert-success rounded-pill p-2 mt-3 mx-5 text-center" role="alert">
        Warranty fetched successfully.
      </div> -->

    </div>
  </div>
</div>
  
  <div *ngIf="this.warrantyInfoObj">
    <app-warranty-card [warrantyInfo]="this.warrantyInfoObj"></app-warranty-card>
  </div>