<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="container" style="text-align: center;">
        <img class="img-fluid" width="100px" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png"
          alt="no-pic" height="170px" width="170px" srcset="">
        <h2>Register New Dealer</h2>
      </div>

      <form (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="dealerInfo.username" name="username" class="form-control" id="username" placeholder="">
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" [(ngModel)]="dealerInfo.password" name="password" class="form-control" id="password" placeholder="">
          <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="dealerInfo.name" name="name" class="form-control" id="name" placeholder="">
          <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="dealerInfo.address" name="address" class="form-control" id="address" placeholder="">
          <label for="address">Address</label>
        </div>

        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" [(ngModel)]="dealerInfo.city" name="city" class="form-control" id="city" placeholder="">
              <label for="city">City</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" [(ngModel)]="dealerInfo.state" name="state" class="form-control" id="state" placeholder="">
              <label for="state">State</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="number" [(ngModel)]="dealerInfo.pincode" name="pincode" class="form-control" id="pincode" placeholder="">
              <label for="pincode">Pincode</label>
            </div>
          </div>
        </div>
        
        <div class="form-floating mb-3">
          <input type="number" [(ngModel)]="dealerInfo.mobile_no" name="mobile_no" class="form-control" id="mobile_no" placeholder="">
          <label for="mobile_no">Mobile Number</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" [(ngModel)]="dealerInfo.email" name="email" class="form-control" id="email" placeholder="">
          <label for="email">Email</label>
        </div>
        <div class="row mb-3">
          <div class="text-center">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>

      <div *ngIf="this.inValidMsg" class="alert alert-danger rounded-pill p-2 mt-3 mx-5 text-center" role="alert" >
        {{this.inValidMsg}}
      </div>

      <div *ngIf="this.isAlreadyPresent" class="alert alert-danger rounded-pill p-2 mt-3 mx-5 text-center" role="alert" >
        Dealer with same username: {{this.dealerInfo.username}} is already present.
      </div>
      
      <div *ngIf="this.isInvalidRequest" class="alert alert-danger rounded-pill p-2 mt-3 mx-5 text-center" role="alert" >
        Unexceptional error occured. Please try again!
      </div>

      <div *ngIf="this.response" class="alert alert-success rounded-pill p-2 mt-3 mx-5 text-center" role="alert">
        Dealer: {{this.dealerInfo.username}} registered successfully!
      </div>
      
    </div>
  </div>
</div>
