
<div class="container mt-3 mb-5">
  
  <div class="text-center">
    <img src="../../../assets/img/car.jpg" class="img-fluid animated my-4" alt="">
  </div>
  
  
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">

        <div class="text-center card-header">
          <h3 class="mb-0">WARRANTY INFORMATION</h3>
        </div>
        
        <div class="card-body">
          <h5>Customer Information</h5>

          <div class="row mb-1"  *ngFor="let key of objectKeys(response.customer);">
            <div class="col-sm-4 text-capitalize">
              <strong>{{key}}</strong>
            </div>
            <div class="col-sm-8">
              {{ response.customer[key] }}
            </div>
          </div>

          <!-- <div class="row mb-1">
            <div class="col-sm-4">
              <strong>PPF Roll No:</strong>
            </div>
            <div class="col-sm-8">
              {{ response.roll_no }}
            </div>
          </div> -->

          <h5>Dealer Information</h5>
          <div class="row mb-1"  *ngFor="let key of objectKeys(response.dealer);">
            <div class="col-sm-4 text-capitalize">
              <strong>{{key}}</strong>
            </div>
            <div class="col-sm-8">
              {{ response.dealer[key] }}
            </div>
          </div>

          <h5>PPF Information</h5>
          <div class="row mb-1"  *ngFor="let key of objectKeys(response.ppf);">
            <div class="col-sm-4 text-capitalize">
              <strong>{{key}}</strong>
            </div>
            <div class="col-sm-8">
              {{ response.ppf[key] }}
            </div>
          </div>

          <h5>Vehicle Information</h5>
          <div class="row mb-1"  *ngFor="let key of objectKeys(response.car);">
            <div class="col-sm-4 text-capitalize">
              <strong>{{key}}</strong>
            </div>
            <div class="col-sm-8">
              {{ response.car[key] }}
            </div>
          </div>
          

        </div>
      </div>
    </div>
  </div>
</div>
  


<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image: {{imageName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img [src]="selectedImage" class="img-fluid img-thumbnail" alt="{{imageName}}">
      </div>
    </div>
  </div>
</div>